<a href="https://colab.research.google.com/github/hugomorpar/Practicas_Clases/blob/main/M3_Procesamiento_de_Datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Modulo 3

## Cargar librerias y Dataset.

In [13]:
# !pip install numpy
# !pip install pandas
# !pip install seaborn

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (1.26.1)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.1.2)
Requirement already satisfied: numpy<2,>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/hugomorpar/Library/Python/3.12/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /Users/hugomorpar/Library/Python/3.12/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seaborn in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (0.13.0)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from seaborn) (1.26.1)
Requirement already satisfied: pandas>=1.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from seaborn) (2.1.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.3 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from seaborn) (3.8.0)
Requirement already satisfied: contourpy>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.1.1)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (4.43.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /Users/hugomorpar/Library/Python/3.12/lib/python/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (23.2)
Requirement already satisfied: pillow>=6.2.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /Users/hugomorpar/Library/Python/3.12/lib/python/site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in /Users/hugomorpar/Library/Python/3.12/lib/python/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.3->seaborn) (1.16.0)

In [17]:
# importando libreria y dataset
import numpy as np
import pandas as pd

import seaborn as sns

## Agregaciones Descriptivas

In [18]:
# Cargando dataset ´planets' desde seaborn

planets = sns.load_dataset('planets')

KeyboardInterrupt:

In [ ]:
print(planets.shape)  # tamaño del dataset (i,j)
print(planets.head())  # primeras 5 filas

In [ ]:
planets  # muestra los 5 primeros y 5 ultimos registros

In [ ]:
# metodo que visualiza conjunto de agregaciones

planets.dropna().describe()  # dropna() elimina los valores nulos

In [ ]:
planets.describe()  # sin eliminar elementos faltantes

In [ ]:
planets.count()

## Otras agregaciones

- count()
- first()
- last()
- mean()
- median()
- min()
- max()
- std()
- var()
- mad()
- prod()
- sum()

## Agrupaciones (groupby)

In [ ]:
# groupby (se puede interpretar como una secuencia de tres acciones por separado: separar, sumar y combinar)

df = pd.DataFrame({'Llave': ['A', 'B', 'C', 'A', 'B', 'C'], 'Dato': range(
    6)}, columns=['Llave', 'Dato'])
df

In [ ]:
# groupby "Llave"

# agrupa las filas del DataFrame df por la columna Llave y muestra un resumen de la agrupación.
print(df.groupby('Llave'))

# calcula la suma de los valores en cada grupo de la columna Valor del DataFrame df, agrupados por la columna Llave.
df.groupby('Llave').sum()


# agregación en el caso del  ejemplo  es  sum().  Se  puede  usar  cualquiera  de  las  funciones  agregación

In [ ]:
# agrupar por el contenido dentro de una columna específica

# agrupa el df planets por method y calcula la 'median' a la columna 'orbital_period'
planets.groupby('method')['orbital_period'].median()

## Tablas Pivot

In [ ]:
# Sintaxis pivot_table

# df.pivot_table(index="nombre_columna", columns="nombre_columna", values="nombre_columna", aggfunc="agregacion")

In [19]:
titanic = sns.load_dataset('titanic')
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
titanic.groupby('sex')[['survived']].mean()

In [ ]:
# 2 columna, 'sex' y 'class', subgrupo 'survived', agregacion 'mean', organiza la tabla 'unstack'
titanic.groupby(['sex', 'class'])['survived'].aggregate('mean').unstack()

In [ ]:
titanic.groupby(['sex', 'class'])[
    'survived'].aggregate('mean')  # sin 'unstack'

In [ ]:
# Sintaxis pivot_table

# df.pivot_table(index="nombre_columna", columns="nombre_columna", values="nombre_columna", aggfunc="agregacion")

In [ ]:
titanic.pivot_table(index='sex', columns='class')

In [ ]:
# opcional 'survived' columna a agrupar
titanic.pivot_table('survived', index='sex', columns='class')

In [ ]:
titanic.describe()

In [ ]:
age = pd.cut(titanic['age'], [0, 10, 80])  # rango de edad entre 0-18 y 18-80
titanic.pivot_table('survived', index=['sex', age], columns='class')

In [ ]:
fare = pd.qcut(titanic['fare'], 2)  # qcut logica de cuantiles a 'fare', 2
titanic.pivot_table('survived', index=['sex', age], columns=[fare, 'class'])

In [ ]:
titanic.pivot_table(index='sex', columns='class', aggfunc={
                    'fare': 'mean', 'survived': sum})

In [ ]:
# pip install pivottablejs

In [ ]:
from pivottablejs import pivot_ui
df2.head()

In [ ]:
pivot_ui(df2)

## Operaciones con *string*