### Principales estadisticas descriptivas de la variable poblacion_total..

In [21]:
import pandas as pd

In [22]:
df = pd.read_csv('poblacion.csv', index_col=0, encoding='latin-1')

In [23]:
df

                  anio  poblacion_total  poblacion_varones  poblacion_mujeres
provincia
Total País        2010         40788453           19940704           20847749
Total País        2011         41261490           20180791           21080699
Total País        2012         41733271           20420391           21312880
Total País        2013         42202935           20659037           21543898
Total País        2014         42669500           20896203           21773297
...                ...              ...                ...                ...
Tierra del Fuego  2036           241593             122567             119026
Tierra del Fuego  2037           245734             124625             121109
Tierra del Fuego  2038           249853             126670             123183
Tierra del Fuego  2039           253948             128702             125246
Tierra del Fuego  2040           258020             130721             127299

[775 rows x 4 columns]

In [24]:
df_pt = df.drop(columns=['poblacion_varones' , 'poblacion_mujeres'])

In [25]:
df_pt

                  anio  poblacion_total
provincia
Total País        2010         40788453
Total País        2011         41261490
Total País        2012         41733271
Total País        2013         42202935
Total País        2014         42669500
...                ...              ...
Tierra del Fuego  2036           241593
Tierra del Fuego  2037           245734
Tierra del Fuego  2038           249853
Tierra del Fuego  2039           253948
Tierra del Fuego  2040           258020

[775 rows x 2 columns]

In [26]:
df_pt['poblacion_total'].describe()

count    7.750000e+02
mean     3.777746e+06
std      9.560571e+06
min      1.316610e+05
25%      5.845510e+05
50%      1.017731e+06
75%      1.855285e+06
max      5.277848e+07
Name: poblacion_total, dtype: float64