#### Función map()

En Python, la función map() se utiliza para aplicar una función a cada elemento de una secuencia (como una lista, tupla o conjunto) y devuelve un objeto de tipo map. Esta función toma dos argumentos: la función que se aplicará y la secuencia de datos a la que se aplicará la función

In [1]:
### definir función cuadrado 
def cuadrado(x):
    return x ** 2

# Lista de números
numeros = [1, 2, 3, 4, 5]

# Usar map() para aplicar la función cuadrado a cada elemento de la lista
resultado = map(cuadrado, numeros)

# Convertir el objeto map a una lista para ver los resultados
lista_resultado = list(resultado)

print(lista_resultado)

[1, 4, 9, 16, 25]

¿Se podría aplicar a una columna de un Data Frame?

In [5]:
import pandas as pd 
df = pd.DataFrame({'x':[1,2,3,4], 'y':[1,0,1,0]})

In [6]:
df

   x  y
0  1  1
1  2  0
2  3  1
3  4  0

In [8]:
## intente hacerlo con map  
df['cuadrado']= ___________________

display(df)

   x  y  cuadrado
0  1  1         1
1  2  0         4
2  3  1         9
3  4  0        16

### Función apply()

La función apply() en Python se utiliza para aplicar una función a lo largo de un eje específico de un DataFrame o una Serie en pandas. Esta función es una herramienta poderosa y versátil para manipular datos en estructuras de datos de pandas.

In [9]:
df['cuadrado'] = df['x'].apply(cuadrado)

display(df)

   x  y  cuadrado
0  1  1         1
1  2  0         4
2  3  1         9
3  4  0        16

In [ ]:
### Con el método apply aplique una función tal que si la columna y es 1 devuelva "Verdadero" 
### y "Falso" caso contrario. 
### su resultado debe almacenarse en otra columna llamada "resultado"